{% extends "../../components/base.njk"  %}


{% block body %}
<p class="title">Demo<span class="td">hello world</span></p>

<span id="box">{{ctx.isDev}}</span>


<script type='text/javascript' src={{ctx.sources['home.js']}}></script>
{% endblock %}
