@import '@/common/scss/base.scss';
@import '@/components/header/header.scss';
.title {
    font-size: 82px;
    .td {
        color: $baseColor;
    }
}

.page-text {
    height: 40px;
    line-height: 40px;
    color: #000;
}

.line {
    line-height: 30px;
    font-size: 18px;
    color: #666;
}