
{% extends "../../components/base.njk"  %}
{% block css %}
<link rel="stylesheet" href={{ctx.sources['index.css']}}>
{% endblock %}

{% block body %}
<p class="title">33<span class="td">32</span></p>
<span>{{ctx.isDev}}</span>


<script type='text/javascript' src={{ctx.sources['index.js']}}></script>
{% endblock %}


</html>
